<p id="notice"><%= notice %></p>

<h2>You Are Currently Standing At...</h2>
<p>
  <%= @location.my_location %>
</p>

<h2>The Closest Buses Are...</h2>

<% if @bus_count == 0 %>
  <p>
    ...not really that close. Better order an Uber. Or Lyft. 
    Or call a friend. Or just give up and go back inside and 
    watch some TV. Going places is overrated.
    </p>
<% end %>

<% @nearby_buses.each do |bus| %>
  <p>
    <strong>Route:</strong> <%= bus["ROUTE"] %><br />
    <strong>Vehicle:</strong> <%= bus["VEHICLE"] %><br />
    <strong>Next Stop:</strong> <%= bus["TIMEPOINT"] %>
  </p>
<% end %>

<%= link_to "Actually, I'm at...", edit_location_path(@location) %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
